/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Slider

*/

/* 1. Fonts including */
@font-face {
    font-family: "DINNextLTPro-Light";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.ttf") format("truetype");
}

@font-face {
    font-family: "DINNextLTPro-BoldCondensed";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.ttf") format("truetype");
}

@font-face {
    font-family: "DINNextLTPro-Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "DINNextLTPro-Condensed";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.ttf") format("truetype");
}

/* 2. General styles */
$padding-standart: 150px 0px;
$padding-small: 80px 0px;
$typography-color-standart: 16px;
$dark: #333333;
$orange: #ff5152;
$white: #fff;
$grey: #f9f9f9;

body {
    color: #787878;
    letter-spacing: 1px;
    font-family: "DINNextLTPro-Condensed", sans-serif, Arial;
    min-width: 320px;
    max-width: 100%;
    font-size: $typography-color-standart;
}

section {
    padding: $padding-standart;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

a:hover {
    text-decoration: none;
}

/* 3. Header */
header {
    padding: 15px 0;

    .logo-box {
        text-align: right;

        @media only screen and (max-device-width: 991px) {
            text-align: left;
        }

        img {
            width: 123px;
        }
    }

    .button-box {
        padding-top: 5px;

        a {
            display: block;
            float: right;
            border-radius: 30px;
            border: solid 2px rgba(255, 81, 82, 0.75);
            color: $orange;
            padding: 7px 20px 5px 20px;
            transition: .2s;
            font-family: "DINNextLTPro-Light", sans-serif, Arial;
            margin-right: 30px;
        }

        a:hover {
            text-decoration: none;
            background-color: $orange;
            color: $white;
        }

    }

    .portfolio-box {
        text-align: left;

        @media only screen and (max-device-width: 991px) {
            display: none;
        }

        a {
            color: $orange;
            font-family: "DINNextLTPro-Light", sans-serif, Arial;
            transition: .2s;
            letter-spacing: 0px;
            font-size: 17px;
            margin-right: 10px;
        }

        a:hover {
            text-decoration: none;
            color: $dark;
        }

        img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }

    /* Mobile navigation */
    .toggle_mnu {
        width: 60px;
        height: 60px;
        position: fixed;
        z-index: 100;
        border: none;
        right: 20px;
        top: 5px;
        background: $dark;
        display: none;
        z-index: 999;

        @media only screen and (max-device-width: 991px) {
            display: block;
        }

        @media only screen and (max-device-width: 767px) {
            right: 5px;
        }

        span {
            display: block;
        }
    }

    .toggle_mnu:hover {
        cursor: pointer;
    }

    .sandwich {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 8px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 200;
    }

    .sw-topper {
        position: relative;
        top: 0;
        width: 28px;
        height: 3px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.2s;
        transition: transform 0.5s, top 0.2s;
        display: block;
    }


    button:focus {
        outline: 0;
    }

    .sw-bottom {
        position: relative;
        width: 28px;
        height: 3px;
        top: 6.6px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: -webkit-transform 0.5s, top 0.2s;
        transition: transform 0.5s, top 0.2s;
        -webkit-transition-delay: 0.2s, 0s;
        transition-delay: 0.2s, 0s;
    }

    .sw-footer {
        position: relative;
        width: 28px;
        height: 3px;
        top: 13.5px;
        background: $white;
        border: none;
        border-radius: 4px 4px 4px 4px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }

    .sandwich.active {
        .sw-topper {
            top: 9px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .sw-bottom {
            top: 6px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .sw-footer {
            opacity: 0;
            top: 0;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .top_mnu {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 36, 36, 0.99);
        z-index: 50;
        right: 0;
        top: 0;
        display: none;

        ul,
        li {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        ul {
            margin-top: 55px;
            text-align: center;
            -webkit-animation-duration: 0.01s;
            animation-duration: 0.01s;

            li {
                &:nth-child(1) a {
                    -webkit-animation-delay: 0;
                    animation-delay: 0;
                }

                &:nth-child(2) a {
                    -webkit-animation-delay: 0.1s;
                    animation-delay: 0.1s;
                }

                &:nth-child(3) a {
                    -webkit-animation-delay: 0.2s;
                    animation-delay: 0.2s;
                }

                &:nth-child(4) a {
                    -webkit-animation-delay: 0.3s;
                    animation-delay: 0.3s;
                }

                &:nth-child(5) a {
                    -webkit-animation-delay: 0.4s;
                    animation-delay: 0.4s;
                }

                &:nth-child(6) a {
                    -webkit-animation-delay: 0.5s;
                    animation-delay: 0.5s;
                }
            }

            a {
                color: $white;
                display: block;
                text-transform: uppercase;
                font-size: 12px;
                opacity: 1;
                position: relative;
                height: 40px;
                outline: none;
                font-size: 16px;


                span {
                    display: block;
                    position: relative;
                    top: -45px;
                    left: 0;
                    height: 100%;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;

                    &:hover {
                        background-color: rgba(0, 123, 255, 0.08);
                    }
                }
            }

            a:hover {
                text-decoration: none;
            }
        }

        .more-info-box {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
            margin-top: 20px;

            i {
                color: $white;
            }

            color: $white;
            text-align: center;

            .phone-box {
                margin-left: 18px;
                margin-bottom: 10px;

                @media only screen and (max-device-width: 575px) {
                    margin-left: 0px;
                }

                @media only screen and (max-device-width: 320px) {
                    margin-top: -7px;
                }

                i {
                    font-size: 12px;
                    margin-left: -13px;

                    @media only screen and (max-device-width: 575px) {
                        display: none;
                    }
                }

                a {
                    color: $white;
                    transition: .2s;

                    @media only screen and (max-device-width: 575px) {
                        font-size: 12px;
                    }
                }

                a:hover {
                    color: $orange;
                }
            }

            .work-time {
                font-size: 12px;
            }

            .social-box {
                margin-bottom: 15px;

                i {
                    font-size: 22px;
                }

                a i {
                    margin-right: 10px;
                }

                a:last-child i {
                    margin-right: 0px;
                }
            }
        }
    }
}


/* 4.  Slider */
.slider {
    padding-top: 0;
    text-align: left;

    .__slider-box {
        background-color: $grey;
        background: url('../img/main-slide.jpg') 50%;
        background-size: cover;

        ._orange-side-main {
            color: $white;
            z-index: 1;

            ._orange-side {
                padding: 200px 160px 0px 55px;

                h1 {
                    font-family: "DINNextLTPro-Condensed", sans-serif, Arial;
                    font-size: 55px;
                    line-height: 55px;
                    letter-spacing: 2px;
                    margin-bottom: 25px;
                }

                p {
                    font-size: 17px;
                    line-height: 26px;
                    letter-spacing: 2px;
                    margin-bottom: 50px;
                    padding-right: 15px;
                }
            }

            ._button-box {
                margin-bottom: 150px;
                opacity: 0;

                a {
                    background-color: $white;
                    color: #ff5152;
                    padding: 23px 70px;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-family: "DINNextLTPro-BoldCondensed", sans-serif, Arial;
                    letter-spacing: 3px;
                    border-radius: 50px;
                    transition: .2s;

                    &:hover {
                        opacity: .9;
                    }
                }
            }

            ._marquee {
                width: 100%;
                padding-bottom: 20px;

                marquee {
                    width: 100%;

                    img {
                        height: 113px;
                        margin-right: 40px;
                    }
                }
            }
        }

        ._gray-side {
            z-index: 1;

            .left-item,
            .right-item {
                float: left;
                width: 50%;
            }

            .left-item {

                img {
                    height: 570px;
                    transform: rotate(-15deg);
                    margin-left: -120px;
                    margin-top: 100px;
                    transition: 1.5s;
                }
            }

            .right-item {

                img {
                    height: 615px;
                    transform: rotate(10deg);
                    margin-left: -20px;
                    margin-top: 50px;
                    transition: 1.5s;
                }
            }

            ._button-box {
                margin-bottom: 150px;
                position: absolute;
                left: -100%;
                padding-left: 70px;
                top: 437px;
                z-index: 99;

                a {
                    background-color: $white;
                    color: #ff5152;
                    padding: 25px 70px 22px 70px;
                    font-size: 15px;
                    text-transform: uppercase;
                    font-family: "DINNextLTPro-BoldCondensed", sans-serif, Arial;
                    letter-spacing: 3px;
                    border-radius: 50px;
                    transition: .2s;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }

        ._nav-top {
            position: absolute;
            top: 0;
            left: -100%;
            width: 200%;
            height: 25%;
            color: $white;
            z-index: 1;

            &:hover~.left-item {

                img {
                    margin-top: 110px;
                }
            }

            &:hover~.right-item {

                img {
                    margin-top: 65px;
                }
            }
        }

        ._nav-left {
            position: absolute;
            top: 25%;
            left: -100%;
            width: 100%;
            height: 50%;
            float: left;

            &:hover~.left-item {

                img {
                    margin-left: -100px;
                }
            }

            &:hover~.right-item {

                img {
                    margin-left: 0px;
                }
            }
        }

        ._nav-right {
            position: absolute;
            top: 25%;
            left: 0%;
            width: 100%;
            height: 50%;
            float: left;

            &:hover~.left-item {

                img {
                    margin-left: -155px;
                }
            }

            &:hover~.right-item {

                img {
                    margin-left: -75px;
                }
            }
        }

        ._nav-bot {
            position: absolute;
            top: 75%;
            left: -100%;
            width: 200%;
            height: 25%;

            &:hover~.left-item {

                img {
                    margin-top: 80px;
                }
            }

            &:hover~.right-item {

                img {
                    margin-top: 35px;
                }
            }
        }
    }
}