/*  Structure

1.  Fonts including
2.  General styles
3.  Header
4.  Slider
5.  Free join
6.  Social shopping
7.  Earn being

*/
/* 1. Fonts including */
@font-face {
  font-family: "DINNextLTPro-Light";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light/DINNextLTPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "DINNextLTPro-BoldCondensed";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed/DINNextLTPro-BoldCondensed.ttf") format("truetype"); }

@font-face {
  font-family: "DINNextLTPro-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold/DINNextLTPro-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "DINNextLTPro-Condensed";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed/DINNextLTPro-Condensed.ttf") format("truetype"); }

/* 2. General styles */
body {
  color: #787878;
  letter-spacing: 1px;
  font-family: "DINNextLTPro-Condensed", sans-serif, Arial;
  min-width: 320px;
  max-width: 100%;
  font-size: 16px; }

section {
  padding: 150px 0px 100px 0;
  text-align: center; }
  @media only screen and (max-device-width: 991px) {
    section {
      padding: 80px 0px 80px 0; } }

h1 {
  font-family: "DINNextLTPro-Light", sans-serif, Arial;
  color: #444;
  font-size: 48px;
  line-height: 60px; }
  @media only screen and (max-device-width: 767px) {
    h1 {
      font-size: 36px;
      line-height: 36px; } }

h2 {
  font-size: 2rem; }

a:hover {
  text-decoration: none; }

/* 3. Header */
header {
  padding: 15px 0;
  /* Mobile navigation */ }
  @media only screen and (max-device-width: 991px) {
    header {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      width: 100%;
      background: #fff; } }
  header .logo-box {
    text-align: right; }
    @media only screen and (max-device-width: 991px) {
      header .logo-box {
        text-align: left; } }
    @media only screen and (max-device-width: 767px) {
      header .logo-box {
        text-align: center;
        margin-bottom: 10px; } }
    header .logo-box img {
      width: 123px; }
  header .button-box {
    padding-top: 5px; }
    @media only screen and (max-device-width: 767px) {
      header .button-box {
        text-align: center; } }
    header .button-box a {
      display: block;
      float: right;
      -webkit-border-radius: 30px;
              border-radius: 30px;
      border: solid 2px rgba(255, 81, 82, 0.75);
      color: #ff5152;
      padding: 7px 20px 5px 20px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s;
      font-family: "DINNextLTPro-Light", sans-serif, Arial; }
      @media only screen and (max-device-width: 767px) {
        header .button-box a {
          float: unset;
          display: inline-block; } }
    header .button-box a:hover {
      text-decoration: none;
      background-color: #ff5152;
      color: #fff; }
  header .toggle_mnu {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 100;
    border: none;
    right: 20px;
    top: 5px;
    background: #333333;
    display: none;
    z-index: 999; }
    @media only screen and (max-device-width: 991px) {
      header .toggle_mnu {
        display: block; } }
    @media only screen and (max-device-width: 767px) {
      header .toggle_mnu {
        right: 5px; } }
    header .toggle_mnu span {
      display: block; }
  header .toggle_mnu:hover {
    cursor: pointer; }
  header .sandwich {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200; }
  header .sw-topper {
    position: relative;
    top: 0;
    width: 28px;
    height: 3px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    display: block; }
  header button:focus {
    outline: 0; }
  header .sw-bottom {
    position: relative;
    width: 28px;
    height: 3px;
    top: 6.6px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: -webkit-transform 0.5s, top 0.2s;
    -webkit-transition: top 0.2s, -webkit-transform 0.5s;
    transition: top 0.2s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s;
    transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
    -webkit-transition-delay: 0.2s, 0s;
    -o-transition-delay: 0.2s, 0s;
       transition-delay: 0.2s, 0s; }
  header .sw-footer {
    position: relative;
    width: 28px;
    height: 3px;
    top: 13.5px;
    background: #fff;
    border: none;
    -webkit-border-radius: 4px 4px 4px 4px;
            border-radius: 4px 4px 4px 4px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
       transition-delay: 0.1s; }
  header .sandwich.active .sw-topper {
    top: 9px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  header .sandwich.active .sw-bottom {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  header .sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  header .top_mnu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 36, 36, 0.99);
    z-index: 50;
    right: 0;
    top: 0;
    display: none; }
    header .top_mnu ul,
    header .top_mnu li {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    header .top_mnu ul {
      margin-top: 55px;
      text-align: center;
      -webkit-animation-duration: 0.01s;
      animation-duration: 0.01s; }
      header .top_mnu ul li:nth-child(1) a {
        -webkit-animation-delay: 0;
        animation-delay: 0; }
      header .top_mnu ul li:nth-child(2) a {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s; }
      header .top_mnu ul li:nth-child(3) a {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s; }
      header .top_mnu ul li:nth-child(4) a {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s; }
      header .top_mnu ul li:nth-child(5) a {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s; }
      header .top_mnu ul li:nth-child(6) a {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      header .top_mnu ul a {
        color: #fff;
        display: block;
        text-transform: uppercase;
        font-size: 12px;
        opacity: 1;
        position: relative;
        height: 40px;
        outline: none;
        font-size: 16px; }
        header .top_mnu ul a span {
          display: block;
          position: relative;
          top: -45px;
          left: 0;
          height: 100%;
          -webkit-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          header .top_mnu ul a span:hover {
            background-color: rgba(0, 123, 255, 0.08); }
      header .top_mnu ul a:hover {
        text-decoration: none; }
    header .top_mnu .more-info-box {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      margin-top: 20px;
      color: #fff;
      text-align: center; }
      header .top_mnu .more-info-box i {
        color: #fff; }
      header .top_mnu .more-info-box .phone-box {
        margin-left: 18px;
        margin-bottom: 10px; }
        @media only screen and (max-device-width: 575px) {
          header .top_mnu .more-info-box .phone-box {
            margin-left: 0px; } }
        @media only screen and (max-device-width: 320px) {
          header .top_mnu .more-info-box .phone-box {
            margin-top: -7px; } }
        header .top_mnu .more-info-box .phone-box i {
          font-size: 12px;
          margin-left: -13px; }
          @media only screen and (max-device-width: 575px) {
            header .top_mnu .more-info-box .phone-box i {
              display: none; } }
        header .top_mnu .more-info-box .phone-box a {
          color: #fff;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          @media only screen and (max-device-width: 575px) {
            header .top_mnu .more-info-box .phone-box a {
              font-size: 12px; } }
        header .top_mnu .more-info-box .phone-box a:hover {
          color: #ff5152; }
      header .top_mnu .more-info-box .work-time {
        font-size: 12px; }
      header .top_mnu .more-info-box .social-box {
        margin-bottom: 15px; }
        header .top_mnu .more-info-box .social-box i {
          font-size: 22px; }
        header .top_mnu .more-info-box .social-box a i {
          margin-right: 10px; }
        header .top_mnu .more-info-box .social-box a:last-child i {
          margin-right: 0px; }

/* 4.  Slider */
.slider {
  padding: 0;
  text-align: left; }
  @media only screen and (max-device-width: 991px) {
    .slider {
      margin-top: 75px; } }
  @media only screen and (max-device-width: 767px) {
    .slider {
      margin-top: 125px; } }
  .slider .__slider-box {
    background: url("../img/main-slide.jpg") 50%;
    -webkit-background-size: cover;
            background-size: cover; }
    @media only screen and (max-device-width: 991px) {
      .slider .__slider-box {
        background: #f9f9f9; } }
    .slider .__slider-box ._orange-side-main {
      color: #fff;
      z-index: 1; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._orange-side-main {
          text-align: center;
          background: #ff5152; } }
      .slider .__slider-box ._orange-side-main ._orange-side {
        padding: 200px 160px 0px 55px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._orange-side-main ._orange-side {
            padding: 120px 40px 0px 40px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._orange-side-main ._orange-side {
            padding: 0px 40px 0px 40px; } }
        @media only screen and (max-device-width: 767px) {
          .slider .__slider-box ._orange-side-main ._orange-side {
            padding: 0px; } }
        .slider .__slider-box ._orange-side-main ._orange-side h1 {
          font-family: "DINNextLTPro-Condensed", sans-serif, Arial;
          font-size: 55px;
          line-height: 55px;
          letter-spacing: 2px;
          margin-bottom: 25px;
          color: #fff; }
          @media only screen and (max-device-width: 1919px) {
            .slider .__slider-box ._orange-side-main ._orange-side h1 {
              font-size: 47px;
              line-height: 47px; } }
          @media only screen and (max-device-width: 1199px) {
            .slider .__slider-box ._orange-side-main ._orange-side h1 {
              font-size: 50px;
              line-height: 50px;
              margin-bottom: 10px; } }
          @media only screen and (max-device-width: 545px) {
            .slider .__slider-box ._orange-side-main ._orange-side h1 {
              font-size: 40px;
              line-height: 40px; } }
        .slider .__slider-box ._orange-side-main ._orange-side p {
          font-size: 17px;
          line-height: 26px;
          letter-spacing: 2px;
          margin-bottom: 50px;
          padding-right: 15px; }
          @media only screen and (max-device-width: 1199px) {
            .slider .__slider-box ._orange-side-main ._orange-side p {
              padding-right: 20px;
              font-size: 15px; } }
          @media only screen and (max-device-width: 991px) {
            .slider .__slider-box ._orange-side-main ._orange-side p {
              display: block;
              margin: 0 auto 70px auto;
              width: 390px; } }
          @media only screen and (max-device-width: 545px) {
            .slider .__slider-box ._orange-side-main ._orange-side p {
              width: 100%;
              margin: 0;
              padding: 0; } }
      .slider .__slider-box ._orange-side-main ._button-box {
        margin-bottom: 125px;
        opacity: 0; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._orange-side-main ._button-box {
            margin-bottom: 80px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._orange-side-main ._button-box {
            opacity: 1;
            margin-bottom: 120px; } }
        @media only screen and (max-device-width: 545px) {
          .slider .__slider-box ._orange-side-main ._button-box {
            margin-top: 40px; } }
        .slider .__slider-box ._orange-side-main ._button-box a {
          background-color: #fff;
          color: #ff5152;
          padding: 23px 70px;
          font-size: 15px;
          text-transform: uppercase;
          font-family: "DINNextLTPro-BoldCondensed", sans-serif, Arial;
          letter-spacing: 3px;
          -webkit-border-radius: 50px;
                  border-radius: 50px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          .slider .__slider-box ._orange-side-main ._button-box a:hover {
            opacity: .9; }
      .slider .__slider-box ._orange-side-main ._marquee {
        width: 100%;
        padding-bottom: 20px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._orange-side-main ._marquee {
            padding-bottom: 0px; } }
        .slider .__slider-box ._orange-side-main ._marquee marquee {
          width: 100%; }
          .slider .__slider-box ._orange-side-main ._marquee marquee img {
            height: 113px;
            margin-right: 40px; }
      .slider .__slider-box ._orange-side-main ._marquee.top {
        display: none; }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._orange-side-main ._marquee.top {
            display: block;
            margin-bottom: 20px;
            padding-top: 40px; } }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._orange-side-main ._marquee.bot {
          display: none; } }
    .slider .__slider-box ._gray-side {
      z-index: 1; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._gray-side {
          background: #f9f9f9;
          overflow: hidden; } }
      .slider .__slider-box ._gray-side .left-item,
      .slider .__slider-box ._gray-side .right-item {
        float: left;
        width: 50%; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._gray-side .left-item {
          text-align: right;
          margin-bottom: 70px; } }
      @media only screen and (max-device-width: 767px) {
        .slider .__slider-box ._gray-side .left-item {
          margin-bottom: 60px; } }
      .slider .__slider-box ._gray-side .left-item img {
        height: 570px;
        -webkit-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
                transform: rotate(-15deg);
        margin-left: -120px;
        margin-top: 100px;
        -webkit-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s; }
        @media only screen and (max-device-width: 1919px) {
          .slider .__slider-box ._gray-side .left-item img {
            height: 530px; } }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._gray-side .left-item img {
            height: 400px;
            margin-left: -60px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._gray-side .left-item img {
            margin-left: unset;
            height: 440px;
            max-width: 100%;
            margin-right: 50px; } }
        @media only screen and (max-device-width: 767px) {
          .slider .__slider-box ._gray-side .left-item img {
            height: 300px;
            margin-right: 10px; } }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._gray-side .right-item {
          text-align: left; } }
      .slider .__slider-box ._gray-side .right-item img {
        height: 615px;
        -webkit-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
                transform: rotate(10deg);
        margin-left: -20px;
        margin-top: 50px;
        -webkit-transition: 1.5s;
        -o-transition: 1.5s;
        transition: 1.5s; }
        @media only screen and (max-device-width: 1919px) {
          .slider .__slider-box ._gray-side .right-item img {
            height: 545px; } }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._gray-side .right-item img {
            height: 415px;
            margin-left: 0px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._gray-side .right-item img {
            margin-left: unset;
            height: 430px;
            max-width: 100%;
            margin-left: 50px; } }
        @media only screen and (max-device-width: 767px) {
          .slider .__slider-box ._gray-side .right-item img {
            height: 320px;
            margin-right: 10px; } }
      .slider .__slider-box ._gray-side ._button-box {
        position: absolute;
        left: -100%;
        padding-left: 70px;
        top: 437px;
        z-index: 99; }
        @media only screen and (max-device-width: 1919px) {
          .slider .__slider-box ._gray-side ._button-box {
            top: 465px; } }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._gray-side ._button-box {
            padding-left: 60px;
            top: 370px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._gray-side ._button-box {
            display: none; } }
        .slider .__slider-box ._gray-side ._button-box a {
          background-color: #fff;
          color: #ff5152;
          padding: 25px 70px 22px 70px;
          font-size: 15px;
          text-transform: uppercase;
          font-family: "DINNextLTPro-BoldCondensed", sans-serif, Arial;
          letter-spacing: 3px;
          -webkit-border-radius: 50px;
                  border-radius: 50px;
          -webkit-transition: .2s;
          -o-transition: .2s;
          transition: .2s; }
          .slider .__slider-box ._gray-side ._button-box a:hover {
            opacity: .9; }
    .slider .__slider-box ._nav-top {
      position: absolute;
      top: 0;
      left: -100%;
      width: 200%;
      height: 25%;
      color: #fff;
      z-index: 1; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._nav-top {
          display: none; } }
      .slider .__slider-box ._nav-top:hover ~ .left-item img {
        margin-top: 110px; }
      .slider .__slider-box ._nav-top:hover ~ .right-item img {
        margin-top: 65px; }
    .slider .__slider-box ._nav-left {
      position: absolute;
      top: 25%;
      left: -100%;
      width: 100%;
      height: 50%;
      float: left; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._nav-left {
          display: none; } }
      .slider .__slider-box ._nav-left:hover ~ .left-item img {
        margin-left: -100px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._nav-left:hover ~ .left-item img {
            margin-left: -50px; } }
      .slider .__slider-box ._nav-left:hover ~ .right-item img {
        margin-left: 0px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._nav-left:hover ~ .right-item img {
            margin-left: 5px; } }
    .slider .__slider-box ._nav-right {
      position: absolute;
      top: 25%;
      left: 0%;
      width: 100%;
      height: 50%;
      float: left; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._nav-right {
          display: none; } }
      .slider .__slider-box ._nav-right:hover ~ .left-item img {
        margin-left: -155px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._nav-right:hover ~ .left-item img {
            margin-left: -90px; } }
        @media only screen and (max-device-width: 991px) {
          .slider .__slider-box ._nav-right:hover ~ .left-item img {
            margin-left: unset; } }
      .slider .__slider-box ._nav-right:hover ~ .right-item img {
        margin-left: -75px; }
        @media only screen and (max-device-width: 1199px) {
          .slider .__slider-box ._nav-right:hover ~ .right-item img {
            margin-left: -45px; } }
    .slider .__slider-box ._nav-bot {
      position: absolute;
      top: 75%;
      left: -100%;
      width: 200%;
      height: 25%; }
      @media only screen and (max-device-width: 991px) {
        .slider .__slider-box ._nav-bot {
          display: none; } }
      .slider .__slider-box ._nav-bot:hover ~ .left-item img {
        margin-top: 80px; }
      .slider .__slider-box ._nav-bot:hover ~ .right-item img {
        margin-top: 35px; }

/* 5.  Free join */
.free-join {
  text-align: left; }
  .free-join .image-box {
    text-align: right; }
    @media only screen and (max-device-width: 991px) {
      .free-join .image-box {
        text-align: center; } }
    .free-join .image-box img {
      width: 500px;
      max-width: 100%; }
    .free-join .image-box .mobile-box {
      display: none; }
      @media only screen and (max-device-width: 991px) {
        .free-join .image-box .mobile-box {
          display: block; } }
  .free-join .text-box {
    padding-top: 100px; }
    @media only screen and (max-device-width: 1199px) {
      .free-join .text-box {
        padding-top: 70px; } }
    @media only screen and (max-device-width: 991px) {
      .free-join .text-box {
        text-align: center;
        padding-top: 30px; } }
    @media only screen and (max-device-width: 991px) {
      .free-join .text-box .free-to-join {
        display: none; } }
    .free-join .text-box h1 {
      color: #444;
      font-family: "DINNextLTPro-Light", sans-serif, Arial;
      font-size: 48px;
      line-height: 60px; }
      @media only screen and (max-device-width: 1199px) {
        .free-join .text-box h1 {
          font-size: 46px; } }
      @media only screen and (max-device-width: 991px) {
        .free-join .text-box h1 {
          display: none; } }
      @media only screen and (max-device-width: 767px) {
        .free-join .text-box h1 {
          font-size: 26px;
          line-height: 26px; } }
    .free-join .text-box p.main-text {
      color: #333333;
      font-size: 18px;
      line-height: 30px;
      width: 390px;
      max-width: 100%;
      display: block; }
      @media only screen and (max-device-width: 1199px) {
        .free-join .text-box p.main-text {
          width: 100%; } }
      @media only screen and (max-device-width: 991px) {
        .free-join .text-box p.main-text {
          font-size: 16px; } }
      @media only screen and (max-device-width: 767px) {
        .free-join .text-box p.main-text {
          font-size: 14px;
          line-height: 22px; } }
    .free-join .text-box .button-box {
      padding-top: 40px;
      padding-left: 30px; }
      .free-join .text-box .button-box .button-case {
        display: inline-block; }
      @media only screen and (max-device-width: 1199px) {
        .free-join .text-box .button-box {
          padding-left: 20px;
          padding-top: 30px; } }
      .free-join .text-box .button-box .help-text {
        margin-left: -30px;
        text-transform: uppercase;
        color: #ff5152;
        font-family: "DINNextLTPro-Condensed", sans-serif, Arial; }
      .free-join .text-box .button-box .video-play-button {
        z-index: 1;
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        display: block;
        width: 16px;
        height: 0px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        padding: 1px 20px 18px 28px;
        float: left;
        margin-top: 11px;
        margin-left: 11px; }
      .free-join .text-box .button-box .video-play-button:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 45px;
        height: 45px;
        background: #ff5152;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-animation: pulse-border 1500ms ease-out infinite;
                animation: pulse-border 1500ms ease-out infinite; }
      .free-join .text-box .button-box .video-play-button:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 45px;
        height: 45px;
        background: #ff5152;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms; }
      .free-join .text-box .button-box .video-play-button:hover:after {
        background-color: #ff1e1f; }
      .free-join .text-box .button-box .video-play-button img {
        position: relative;
        z-index: 3;
        max-width: 100%;
        width: auto;
        height: auto; }
      .free-join .text-box .button-box .video-play-button span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 12px solid #fff;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; }

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1; }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0; } }
      .free-join .text-box .button-box .video-overlay {
        position: fixed;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        opacity: 0;
        -webkit-transition: all ease 500ms;
        -o-transition: all ease 500ms;
        transition: all ease 500ms; }
      .free-join .text-box .button-box .video-overlay.open {
        position: fixed;
        z-index: 1000;
        opacity: 1; }
      .free-join .text-box .button-box .video-overlay-close {
        position: absolute;
        z-index: 1000;
        top: 15px;
        right: 20px;
        font-size: 36px;
        line-height: 1;
        font-weight: 400;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms; }
      .free-join .text-box .button-box .video-overlay-close:hover {
        color: #fa183d; }
      .free-join .text-box .button-box .video-overlay iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
        width: 90%;
        height: 90%;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.75); }

/* 6.  Social shopping */
.social-shopping {
  padding: 100px 0px 100px 0; }
  @media only screen and (max-device-width: 991px) {
    .social-shopping {
      padding: 20px 0px 80px 0; } }
  @media only screen and (max-device-width: 991px) {
    .social-shopping .tab-box {
      display: none; } }
  .social-shopping .tab-box h1,
  .social-shopping .tab-box h5 {
    text-align: left; }
  .social-shopping .tab-box h5 {
    font-family: "DINNextLTPro-Condensed", sans-serif, Arial;
    font-size: 16px; }
  .social-shopping .tab-box h1 {
    font-family: "DINNextLTPro-Light", sans-serif, Arial;
    color: #444;
    font-size: 48px;
    line-height: 60px; }
  .social-shopping .tab-box .nav.nav-tabs,
  .social-shopping .tab-box .tab-content {
    width: 50%;
    float: left; }
  .social-shopping .tab-box .nav.nav-tabs {
    text-align: left;
    border-bottom: none; }
    .social-shopping .tab-box .nav.nav-tabs li {
      width: 100%;
      display: block;
      padding: 50px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      margin: 10px 85px 10px 30px; }
      @media only screen and (max-device-width: 991px) {
        .social-shopping .tab-box .nav.nav-tabs li {
          margin: 10px 0px 10px 30px; } }
      .social-shopping .tab-box .nav.nav-tabs li .tablink-item img {
        width: 50px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s; }
      .social-shopping .tab-box .nav.nav-tabs li .tablink-item .tablink-item.top1 {
        display: inline-block; }
      .social-shopping .tab-box .nav.nav-tabs li .tablink-item.icon {
        float: left; }
      .social-shopping .tab-box .nav.nav-tabs li .tab-article-box .tablink-item.top1 {
        color: #fe5454; }
        .social-shopping .tab-box .nav.nav-tabs li .tab-article-box .tablink-item.top1 h5 {
          margin-bottom: 0; }
      .social-shopping .tab-box .nav.nav-tabs li .tab-article-box .tablink-item.top2 {
        color: #444; }
        .social-shopping .tab-box .nav.nav-tabs li .tab-article-box .tablink-item.top2 h5 {
          font-size: 22px; }
      .social-shopping .tab-box .nav.nav-tabs li .tablink-item.text {
        color: #828388;
        margin-top: 40px; }
      .social-shopping .tab-box .nav.nav-tabs li .button-case {
        background-color: #fff;
        margin-right: 70px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
        .social-shopping .tab-box .nav.nav-tabs li .button-case img {
          -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
                  box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          margin-right: unset; }
    .social-shopping .tab-box .nav.nav-tabs li.active {
      background-color: rgba(216, 237, 227, 0.25); }
      .social-shopping .tab-box .nav.nav-tabs li.active .button-case img {
        -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
                box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-animation: pulse-border 2000ms ease-out infinite;
                animation: pulse-border 2000ms ease-out infinite; }

@keyframes pulse-border {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2); } }
    .social-shopping .tab-box .nav.nav-tabs li:nth-child(2) h5.top,
    .social-shopping .tab-box .nav.nav-tabs li:nth-child(3) h5.top {
      color: #34b57b; }
    .social-shopping .tab-box .nav.nav-tabs li:nth-child(2) .button-case img,
    .social-shopping .tab-box .nav.nav-tabs li:nth-child(3) .button-case img {
      -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
              box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); }

@keyframes pulse-border {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2); } }
    .social-shopping .tab-box .nav.nav-tabs li:hover {
      background-color: rgba(216, 237, 227, 0.25); }
  .social-shopping .tab-box .tab-content .image-box {
    text-align: left; }
    .social-shopping .tab-box .tab-content .image-box img {
      max-width: 100%;
      width: 400px; }
  .social-shopping .mobile-tabs {
    display: none; }
    @media only screen and (max-device-width: 991px) {
      .social-shopping .mobile-tabs {
        display: block; } }
    .social-shopping .mobile-tabs .mobile-box {
      display: none;
      margin-bottom: 25px; }
      @media only screen and (max-device-width: 991px) {
        .social-shopping .mobile-tabs .mobile-box {
          display: block;
          text-align: left; } }
      .social-shopping .mobile-tabs .mobile-box h1 {
        font-family: "DINNextLTPro-Light", sans-serif, Arial; }
    .social-shopping .mobile-tabs .dropdown {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: auto; }
      .social-shopping .mobile-tabs .dropdown + .dropdown {
        margin-top: 15px; }
    .social-shopping .mobile-tabs .dropdown__top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font: 600 14px/22px sans-serif;
      background-color: #f9f9f9;
      cursor: pointer;
      -webkit-transition: background .3s ease;
      -o-transition: background .3s ease;
      transition: background .3s ease;
      will-change: background; }
      .social-shopping .mobile-tabs .dropdown__top:hover {
        background: #f9f9f9; }
      .social-shopping .mobile-tabs .dropdown__top::after {
        content: '\f13a';
        font: 20px 'FontAwesome';
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        -o-transition: transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease;
        will-change: transform; }
    .social-shopping .mobile-tabs .open .dropdown__top::after {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .social-shopping .mobile-tabs .dropdown__btm {
      background: #fff;
      color: #555;
      font-size: 15px;
      line-height: 1.4;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px;
      display: none; }
      .social-shopping .mobile-tabs .dropdown__btm .image-box {
        text-align: center; }
        .social-shopping .mobile-tabs .dropdown__btm .image-box img {
          max-width: 242px; }
  .social-shopping .dropdown__top {
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    .social-shopping .dropdown__top .button-case img {
      -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
              box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-animation: pulse-border-fast 1000ms ease-out infinite;
              animation: pulse-border-fast 1000ms ease-out infinite; }

@-webkit-keyframes pulse-border-fast {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2); } }

@keyframes pulse-border-fast {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2); } }
    .social-shopping .dropdown__top .tablink-item img {
      width: 40px;
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      margin-left: 10px; }
    .social-shopping .dropdown__top .tablink-item.icon {
      float: left; }
    .social-shopping .dropdown__top .tab-article-box {
      width: 100%;
      text-align: left;
      padding-left: 30px; }
      .social-shopping .dropdown__top .tab-article-box .tablink-item.top1 {
        text-align: left;
        color: #fe5454;
        font-size: 14px;
        display: inline-block; }
        .social-shopping .dropdown__top .tab-article-box .tablink-item.top1 h5 {
          margin-bottom: 0;
          font-size: 11px;
          font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
          @media only screen and (max-device-width: 991px) {
            .social-shopping .dropdown__top .tab-article-box .tablink-item.top1 h5 {
              font-size: 10px; } }
      .social-shopping .dropdown__top .tab-article-box .tablink-item.top2 {
        color: #444; }
        .social-shopping .dropdown__top .tab-article-box .tablink-item.top2 h5 {
          font-size: 22px;
          font-size: 16px;
          font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
          @media only screen and (max-device-width: 991px) {
            .social-shopping .dropdown__top .tab-article-box .tablink-item.top2 h5 {
              font-size: 14px; } }
  .social-shopping .dropdown:nth-child(4) .dropdown__top .button-case img,
  .social-shopping .dropdown:nth-child(3) .dropdown__top .button-case img {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-animation: pulse-border-green-mob 1000ms ease-out infinite;
            animation: pulse-border-green-mob 1000ms ease-out infinite; }

@-webkit-keyframes pulse-border-green-mob {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); } }

@keyframes pulse-border-green-mob {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 0px rgba(52, 181, 123, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2);
            box-shadow: 0 0 0 15px rgba(52, 181, 123, 0.2); } }
  .social-shopping .dropdown:nth-child(1).open .tab-article-box .tablink-item.top2 h5 {
    color: #fe5454; }
  .social-shopping .dropdown:nth-child(4) .tab-article-box .tablink-item.top1 h5,
  .social-shopping .dropdown:nth-child(3) .tab-article-box .tablink-item.top1 h5 {
    color: #34b57b; }
  .social-shopping .dropdown:nth-child(4).open .tab-article-box .tablink-item.top2 h5,
  .social-shopping .dropdown:nth-child(3).open .tab-article-box .tablink-item.top2 h5 {
    color: #34b57b; }
  .social-shopping .brand-box {
    margin: 80px auto 0 auto;
    display: inline-block; }
    @media only screen and (max-device-width: 991px) {
      .social-shopping .brand-box {
        display: none; } }
    .social-shopping .brand-box .ass-seen {
      float: left;
      margin-right: 40px;
      color: #444;
      font-size: 16px;
      font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
    .social-shopping .brand-box .img-box {
      margin-right: 40px;
      float: left; }
      .social-shopping .brand-box .img-box img {
        width: 92px;
        display: block; }
    .social-shopping .brand-box .img-box:nth-child(2) {
      padding-top: 6px; }
    .social-shopping .brand-box .img-box:nth-child(3) img {
      margin-top: -5px;
      width: 50px; }
    .social-shopping .brand-box .img-box:nth-child(4) img {
      width: 80px; }
    .social-shopping .brand-box .img-box:nth-child(5) img {
      margin-top: -5px;
      width: 50px; }
    .social-shopping .brand-box .img-box:nth-child(6) img {
      width: 80px; }
    .social-shopping .brand-box .clear {
      clear: both; }
  .social-shopping .brand-box-mobile {
    display: none;
    margin-top: 60px;
    margin-bottom: 60px; }
    @media only screen and (max-device-width: 320px) {
      .social-shopping .brand-box-mobile {
        margin-top: 40px;
        margin-bottom: 10px; } }
    @media only screen and (max-device-width: 991px) {
      .social-shopping .brand-box-mobile {
        display: block; } }
    .social-shopping .brand-box-mobile .ass-seen {
      color: #444;
      font-size: 16px;
      font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
      @media only screen and (max-device-width: 320px) {
        .social-shopping .brand-box-mobile .ass-seen {
          font-size: 14px; } }
    .social-shopping .brand-box-mobile .clear {
      clear: both; }
    .social-shopping .brand-box-mobile .img-box {
      float: left;
      width: 33.3%;
      text-align: center; }
      .social-shopping .brand-box-mobile .img-box img {
        height: 95px;
        max-height: 95px;
        max-width: 70%; }
    .social-shopping .brand-box-mobile .img-box:nth-child(1) {
      text-align: center; }
    .social-shopping .brand-box-mobile .img-box:nth-child(2) img {
      margin-top: -37px; }
    .social-shopping .brand-box-mobile .img-box:nth-child(3) img {
      margin-top: -2px;
      height: 55px; }
      @media only screen and (max-device-width: 320px) {
        .social-shopping .brand-box-mobile .img-box:nth-child(3) img {
          margin-top: 5px;
          height: 27px; } }
    .social-shopping .brand-box-mobile .img-box:nth-child(5) img {
      margin-top: -80px;
      height: 55px; }
      @media only screen and (max-device-width: 320px) {
        .social-shopping .brand-box-mobile .img-box:nth-child(5) img {
          margin-top: -80px;
          height: 27px; } }
    .social-shopping .brand-box-mobile .img-box:nth-child(4) img {
      margin-top: 50px;
      height: 50px; }
      @media only screen and (max-device-width: 320px) {
        .social-shopping .brand-box-mobile .img-box:nth-child(4) img {
          margin-top: 27px; } }
    .social-shopping .brand-box-mobile .img-box:nth-child(6) img {
      margin-top: -70px;
      height: 55px; }

/* 7.  Earn being */
.earn-for-being {
  padding-top: 0; }
  .earn-for-being .container {
    background-color: #f9f9f9; }
  .earn-for-being .carousel-box {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 40px; }
    @media (max-width: 1000px) {
      .earn-for-being .carousel-box .s3-scene {
        margin-left: 15%;
        width: 100% !important;
        max-width: 100%;
        height: auto; } }
  @media only screen and (max-width: 1000px) and (max-device-width: 991px) {
    .earn-for-being .carousel-box .s3-scene {
      margin-left: 28%; } }
  @media only screen and (max-width: 1000px) and (max-device-width: 767px) {
    .earn-for-being .carousel-box .s3-scene {
      margin-left: 25%; } }
  @media only screen and (max-width: 1000px) and (max-device-width: 545px) {
    .earn-for-being .carousel-box .s3-scene {
      margin-left: 0%; } }
    .earn-for-being .carousel-box .s3-scene {
      position: relative;
      width: 100%;
      height: 700px;
      -webkit-perspective: 1000px;
              perspective: 1000px; }
      @media only screen and (max-device-width: 545px) {
        .earn-for-being .carousel-box .s3-scene {
          height: 550px; } }
    .earn-for-being .carousel-box .s3-carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: translateZ(-288px);
              transform: translateZ(-288px);
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transition: -webkit-transform 1s;
      transition: -webkit-transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      transition: transform 1s, -webkit-transform 1s; }
    .earn-for-being .carousel-box .carousel__cell {
      position: absolute;
      width: 380px;
      height: 90%;
      left: 10px;
      top: 0px;
      font-weight: bold;
      color: white;
      text-align: center;
      -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
      transition: opacity 0.5s, -webkit-transform 0.5s;
      -o-transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s;
      transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s; }
      @media only screen and (max-device-width: 545px) {
        .earn-for-being .carousel-box .carousel__cell {
          width: 280px; } }
      .earn-for-being .carousel-box .carousel__cell .img-box img {
        max-width: 100%;
        -webkit-border-radius: 10px 10px 0 0;
                border-radius: 10px 10px 0 0;
        max-height: 385px; }
      .earn-for-being .carousel-box .carousel__cell .img-box .new-box {
        position: absolute;
        top: 20px;
        left: 20px;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 20px;
        background-color: #fe5454;
        padding: 7px 30px 4px 30px;
        -webkit-border-radius: 30px;
                border-radius: 30px; }
      .earn-for-being .carousel-box .carousel__cell .text-box {
        background-color: #fff;
        color: #333333;
        font-size: 25px;
        line-height: 35px;
        -webkit-border-radius: 0 0 10px 10px;
                border-radius: 0 0 10px 10px;
        padding-top: 70px;
        padding-bottom: 60px;
        border: solid 1px #ccc; }
        .earn-for-being .carousel-box .carousel__cell .text-box p {
          font-family: "DINNextLTPro-Light", sans-serif, Arial;
          margin-bottom: 50px; }
        .earn-for-being .carousel-box .carousel__cell .text-box .logo-box img {
          max-width: 60px; }
  .earn-for-being .carousel-content {
    text-align: left;
    padding-top: 200px; }
    @media only screen and (max-device-width: 991px) {
      .earn-for-being .carousel-content {
        padding-top: 50px; } }
    .earn-for-being .carousel-content .article-box {
      width: 500px; }
      @media only screen and (max-device-width: 991px) {
        .earn-for-being .carousel-content .article-box {
          width: 100%;
          padding-bottom: 60px;
          text-align: center; } }
      .earn-for-being .carousel-content .article-box h5 {
        font-size: 14px;
        line-height: 14px; }
      .earn-for-being .carousel-content .article-box h1 {
        margin-bottom: 20px; }
      .earn-for-being .carousel-content .article-box p {
        font-size: 18px;
        line-height: 32px;
        margin-bottom: 40px; }
    .earn-for-being .carousel-content .dropdown {
      display: block;
      width: 100%;
      max-width: 100%;
      margin: auto; }
      .earn-for-being .carousel-content .dropdown + .dropdown {
        margin-top: 15px; }
    .earn-for-being .carousel-content .dropdown__top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 15px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font: 600 14px/22px sans-serif;
      background-color: #f9f9f9;
      cursor: pointer;
      -webkit-transition: background .3s ease;
      -o-transition: background .3s ease;
      transition: background .3s ease;
      will-change: background; }
      .earn-for-being .carousel-content .dropdown__top:hover {
        background: #f9f9f9; }
      .earn-for-being .carousel-content .dropdown__top::after {
        content: '\f13a';
        font: 20px 'FontAwesome';
        -webkit-transition: -webkit-transform .5s ease;
        transition: -webkit-transform .5s ease;
        -o-transition: transform .5s ease;
        transition: transform .5s ease;
        transition: transform .5s ease, -webkit-transform .5s ease;
        will-change: transform; }
    .earn-for-being .carousel-content .open .dropdown__top::after {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
    .earn-for-being .carousel-content .dropdown__btm {
      background: #fff;
      color: #555;
      font-size: 15px;
      line-height: 1.4;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 15px;
      display: none; }
      .earn-for-being .carousel-content .dropdown__btm .image-box {
        text-align: center; }
        .earn-for-being .carousel-content .dropdown__btm .image-box img {
          max-width: 242px; }
    .earn-for-being .carousel-content .dropdown__top {
      -webkit-border-radius: 10px;
              border-radius: 10px;
      border: solid 1px #eee; }
      .earn-for-being .carousel-content .dropdown__top .button-case img {
        -webkit-box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
                box-shadow: 0 0 0 15px rgba(254, 84, 84, 0.2);
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-animation: pulse-border-fast 1000ms ease-out infinite;
                animation: pulse-border-fast 1000ms ease-out infinite; }

@keyframes pulse-border-fast {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 0px rgba(254, 84, 84, 0.2); }
  50% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 10px rgba(254, 84, 84, 0.2); }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(254, 84, 84, 0.2);
            box-shadow: 0 0 0 10px rgba(254, 84, 84, 0.2); } }
      .earn-for-being .carousel-content .dropdown__top .tablink-item img {
        width: 40px;
        -webkit-transition: 1s;
        -o-transition: 1s;
        transition: 1s;
        margin-left: 10px; }
      .earn-for-being .carousel-content .dropdown__top .tablink-item.icon {
        float: left; }
      .earn-for-being .carousel-content .dropdown__top .tab-article-box {
        width: 100%;
        text-align: left;
        padding-left: 30px; }
        .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top1 {
          text-align: left;
          color: #fe5454;
          font-size: 14px;
          display: inline-block; }
          .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top1 h5 {
            margin-bottom: 0;
            font-size: 11px;
            font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
            @media only screen and (max-device-width: 991px) {
              .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top1 h5 {
                font-size: 10px; } }
        .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top2 {
          color: #444; }
          .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top2 h5 {
            font-size: 22px;
            font-size: 16px;
            font-family: "DINNextLTPro-Bold", sans-serif, Arial; }
            @media only screen and (max-device-width: 991px) {
              .earn-for-being .carousel-content .dropdown__top .tab-article-box .tablink-item.top2 h5 {
                font-size: 14px; } }
    .earn-for-being .carousel-content .dropdown__top:hover {
      background-color: #fff; }
